// GENERIC OVERLAY - TRANSPARENT FILL OVER SCREEN
.overlay {
	height: 100vh;
	width: 100vw;

	position: fixed;
	top: 0;
	right: 0;
	z-index: $z-overlay;

	background-color: rgba($color-black, .2);
}

// GENERIC GRID ROW
.row {
	margin: 0 auto;
	&:not(:last-child) { margin-bottom: $row-gutter; }

	max-width: 50rem;
}
